<launch>

    <arg name="mos_map"           default="/odometry_node/mos_map" />
    <arg name="raw_cloud"         default="/os_cloud_node/points" />
    <arg name="filtered_cloud"    default="/cloud_filtered" />
    <arg name="predicted_pose"    default="/odometry_node/odometry_estimate" />

    <node pkg="mapmos" type="mapmos_node.py" name="moving_objects_segmentation_mapmos" output="screen">
        <param name="mos_map"           type="string" value="$(arg mos_map)"/>
        <param name="raw_cloud"         type="string" value="$(arg raw_cloud)"/>
        <param name="filtered_cloud"    type="string" value="$(arg filtered_cloud)"/>
        <param name="predicted_pose"    type="string" value="$(arg predicted_pose)"/>
    </node>
</launch>


